.pizza-container {
  overflow: hidden;
  overflow-x: hidden;
}

.pizza {
  min-width: 300px;
}

.main-button {
  background-color: orange;
  color: white;
}

.secondary-button {
  border-color: orange;
  color: orange;
}

.main-button:hover {
  background-color: rgba(243, 164, 18, 0.836);
  color: white;
}

.secondary-button:hover {
  background-color: orange;
  color: white;
}
